@import "../config";

.root {
  background: $layerSolid2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  background: $layerSolid2;
  width: 100vw;
  height: calc(100vh - 32px);
  overflow: auto;
  color: $text2;
  font-size: 13px;
  border-top: 1px solid $subtleDarker1;

  @import "../scrollBar";
}

.content_noTitleBar {
  height: 100vh;
}

.content_center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titleBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 32px;
  background: $layerSolid1;
  width: 100vw;
  align-items: center;
  padding: 0 10px;
  -webkit-app-region: drag;
}

.titleBar_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  margin-right: -10px;
  -webkit-app-region: no-drag;

  button {
    height: 100%;
    width: 45px;
    border: none;
    color: $text1;
    background: transparent;
    font-size: 16px;
    transition: 100ms;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: $subtle1;

      &:active {
        color: $text3;
      }
    }
  }
}

.titleBar_buttonsClose {
  &:hover {
    background: $accent1 !important;
    color: $accentText1 !important;

    &:active {
      color: $accentText2 !important;
      background: $accent2 !important;
    }
  }
}

.titleBar_app {
  color: $text1;
  font-size: 11px;
  display: flex;
  align-items: center;
  gap: 10px;
  user-select: none;

  div {
    overflow: hidden;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    -webkit-app-region: no-drag;

    img {
      -webkit-app-region: no-drag;
      max-width: 25px;
      max-height: 25px;
      width: 100%;
    }
  }
}

.titleBar_appTitle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

// This doesn't use the CSS variables because chances are the theme loader failed.
.errorBox {
  position: fixed;
  left: 30px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  background: #c4314b;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  border-radius: 4px;
  transition: 100ms;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 20%);
  cursor: pointer;

  &:hover {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 50%);
    filter: brightness(1.2);

    &:active {
      opacity: 0.7;
      filter: brightness(1);
    }
  }
}

.errorBox_hide {
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
}
