@import "../config";

.root {
	padding: 0;
	display: flex;
}

.svg {
	margin: 0;
	padding: 0;

	circle {
		stroke-dasharray: 10 20;
		stroke: $accent1;
		fill: transparent;
		stroke-linecap: round;
		transform-box: fill-box;
		transform-origin: center;
		animation: spin 0.4s linear 0s infinite;
	}
}

@keyframes :local(spin) {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
