@import "../config";

.root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;
}

.sideBar {
  height: 100%;
  display: flex;
  flex-direction: row;
  transition: 100ms;
}

.sideBar_rail {
  background: $layerSolid1;
  width: 60px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  padding: 5px 0;
}

.sideBar_railButton {
  width: 50px;
  height: 50px;
  transition: 100ms;
  overflow: hidden;
  border-radius: 3px;
  border: none;
  background: transparent;
  color: $text3;
  font-size: 16px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;

  &:hover {
    color: $text1;
    background: $subtle1;

    &:active {
      color: $text3;
    }
  }
}

.sideBar_railButtonCursor {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%) scaleY(0);
  transition: 100ms;
}

.sideBar_railButton:hover .sideBar_railButtonImage {
  img {
    transform: scale(1.3);
  }

  &:active {
    img {
      filter: brightness(0.8);
    }
  }
}

.sideBar_railButtonImage {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  img {
    min-width: 100%;
    transition: 100ms;
  }
}

.sideBar_railButtonActive {
  color: $text1;
  background: $subtle2;
}

.sideBar_railButtonActive .sideBar_railButtonCursor {
  transform: translateY(-50%) scaleY(1);
}

.sideBar_body {
  width: 300px;
  background: $layerSolid1;
  height: 100%;
  display: flex;
}

.content {
  height: 100%;
  width: 100%;
  border-radius: 4px 0 0 0;
}

.content_body {
  height: calc(100% - 35px);
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.content_bodyMetaBarHide {
  height: 100%;
}

.content_metaBar {
  width: 100%;
  height: 35px;
  background: $layerSolid1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;

  & > div {
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: row;
    gap: 5px;

    button {
      border: none;
      background: transparent;
      color: $text3;
      font-size: 12px;
      transition: 100ms;
      border-radius: 3px;
      height: 30px;
      padding: 0 12px;

      &:hover {
        color: $text1;
        background: $subtle1;

        &:active {
          color: $text3;
        }
      }
    }

    div:nth-child(1) {
      justify-content: space-between;
    }

    div:nth-child(2) {
      justify-content: space-between;
    }
  }
}
