@import "../config";

.root {
  height: 26px;
  padding: 0 10px;
  background: $accent1;
  color: $accentText1;
  border: none;
  border-radius: 3px;
  transition: 100ms;

  &:hover {
    background: $accent2;

    &:active {
      color: $accentText2
    }
  }
}

._secondary {
  background: $subtle1;
  color: $text1;

  &:hover {
    background: $subtle2;

    &:active {
      color: $text2
    }
  }
}
