@import "../config";

.root {
  height: 26px;
  padding: 0 10px;
  background: $accent1;
  color: $accentText1;
  border: none;
  border-radius: 3px;
  transition: 100ms;
  user-select: none;
  cursor: pointer;

  &:hover {
    background: $accent2;

    &:active {
      color: $accentText2
    }
  }
}

._secondary {
  background: $subtle1;
  color: $text1;

  &:hover {
    background: $subtle2;

    &:active {
      color: $text3
    }
  }
}

._outline {
  background: transparent;
  color: $text1;
  border: 1px solid $subtle2;

  &:hover {
    border-color: $subtle3;
    background: transparent;

    &:active {
      color: $text3;
    }
  }
}

._text {
  background: transparent;
  color: $text1;

  &:hover {
    background: $subtle1;

    &:active {
      color: $text3;
    }
  }
}
