@import "../config";

.root {
  	width: 100%;
  	height: 30px;
  	display: flex;
  	align-items: center;
  	position: relative;
  	padding: 0 10px;
  	border-radius: 3px;
  	transition: 100ms;
	gap: 5px;
	border: 1px solid $subtle2;
	border-bottom: 2px solid $subtle3;

	&:hover {
		border-color: $subtle3;
		border-bottom-color: $subtle4;
	}

	&:focus-within {
		border-color: $subtle3;
		border-bottom-color: $accent1;
	}

  input {
	  width: 100%;
	  height: 100%;
	  border: none;
	  background: transparent;
	  color: $text1;
	  outline: none;
  }
}

.placeholder {
  position: absolute;
  color: $text3;
}

.button {
	transition: 100ms;
	width: 30px;
	height: 20px;
	border-radius: 3px;
	border: none;
	background: transparent;
	color: $text3;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 13px;
	padding: 0;
	outline: none;

	&:hover {
		background: $subtle2;
		color: $text1;

		&:active {
			background: $subtle1;
			color: $text3;
		}
	}
}

.button_hide {
	transform: scale(0) translate(-50%, 0);
	opacity: 0;
	pointer-events: none;
	margin: 0;
	width: 0;
}
